{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <!-- error message if exists -->
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <h1 class="mb-4">Change password (unavailible)</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Current password:</label>
                <input type="password" class="form-control" id="old_password" name="old_password" required>
            </div>
            <div class="form-group">
                <label for="password">New password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password2">Password confirmation:</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 text-left">
                    <input type="submit" class="btn btn-primary" value="Potvrdit změnu hesla">
                </div>
                <div class="col-sm-6 text-right">
                    <p><a href="{% url 'users:detail' current_user.id %}">Back to profile</a></p>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}