{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <!-- error message if exists -->
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <h1 class="mb-4">Change Password</h1>
        <form method="post">
            {% csrf_token %}
            {% if not current_user.is_admin %}
            <div class="form-group">
                <label for="old_password">Current Password <span class="text-danger">*</span>:</label>
                <input type="password" class="form-control" id="old_password" name="old_password" required>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="password">New Password <span class="text-danger">*</span>:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm New Password <span class="text-danger">*</span>:</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 text-left">
                    <input type="submit" class="btn btn-primary" value="Confirm Change">
                </div>
                <div class="col-sm-6 text-right">
                    <p><a href="{% url 'users:detail' current_user.id %}">Back to Profile</a></p>
                </div>
            </div>
            <!-- Disclaimer for the asterisk -->
            <div class="form-text text-muted">
                <small><span class="text-danger">*</span> Indicates a required field.</small>
            </div>
        </form>
    </div>
</div>

{% endblock %}