{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
    {% if not group %}
      <div class="alert alert-danger" role="alert">Group doesn't exist.</div>
    {% else %}
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span class="d-flex justify-content-between align-items-center">
            <button type="button" onclick="window.history.back()" class="btn">
              <img src="{% static '/img/back.png' %}" width="20" height="20" class="d-inline-block align-top" alt="">
            </button>
            <h3 style="margin-left:10px;">{{ group.title }}</h3>
          </span>
          {% if current_user == group.owner or current_user.is_admin %}
              <a
                href="{% url 'groups:edit' group_id=group.id %}"
                class="btn btn-primary"
                >Edit group</a
              >
          {% endif %}
          {% if not current_user == group.owner and current_user in group.members.all and current_user %}
          <button type="button" onclick="sendRequest('{% url 'groups:delete_member' group_id=group.id user_id=current_user.id %}')" class="btn btn-danger">Leave group</button>
          {% endif %}
        </div>
        
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                src="{{ group.image_url }}"
                class="img-fluid"
                alt="{{ group.title }}"
                style="width: 150px; height: 150px"
              />
            </div>
            <div class="col-md-8">
              <h4 class="mb-3">Bio:</h4>
              <p>{{ group.description }}</p>
              <h5 class="mb-3">Group creator:</h5>
              <ul class="navbar-nav">  
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'users:detail' user_id=group.owner.id %}">
                      {% if group.owner.profile_picture_url %}
                      <img src="{{ group.owner.profile_picture_url }}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% else %}
                      <img src="{% static 'img/anonymous.png' %}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% endif %}
                        <span>{{ group.owner.username }}</span>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      {% if not current_user.is_admin and not current_user == group.owner and current_user not in group.moderators.all and current_user in group.members.all and current_user %}
      <div class="container mt-5">
        <h2>Become Moderator</h2>
        <!-- <form method="post" action="{% url 'groups:add_moderator_request' group_id=group.id user_id=current_user.id %}">
          {% csrf_token %}
          <div class="form-group">
            {% if current_user not in group.requested_for_moderator.all%}
              <button type="submit" class="btn btn-primary btn-block">Send Request</button>
            {% else %}
              <button type="submit" disabled class="btn btn-primary btn-block">Send Request</button>
            {% endif %}
            </div>
        </form> -->
        <button
        {% if current_user not in group.requested_for_moderator.all%} {%else%} disabled {%endif%}
        type="button" onclick="sendRequest('{% url 'groups:add_moderator_request' group_id=group.id user_id=current_user.id %}')" class="btn btn-primary btn-block">Send Request</button>
      </div>
      {% endif %}


      

      <div class="container mt-5">
        <h2>Threads</h2>
        {% if group.content_visibility > 1 and not current_user %}
          <div class="alert alert-info" role="alert">
           You do not have permission to view. Try to <a href="/login/">Sign in</a>
          </div>
        {% elif group.content_visibility > 2 and current_user not in group.members.all and current_user.id is not group.owner.id %}
          <div class="alert alert-info" role="alert">
            You do not have permission to view. You must be a member of this group.
          </div>
        {%else%}
          {% if threads %}
            <div class="list-group">
              {% for thread in threads %}
              {% if current_user.is_admin or current_user == group.owner or current_user in group.moderators.all %}
              <!-- Editable thread title -->
              <div class="thread-title" ondblclick="showEdit(this)">
                <span class="title-text">Edit title</span>
                <form action="{% url 'groups:threads:edit_thread' group_id=group.id thread_id=thread.id %}" method="post" class="edit-form" style="display: none;">
                  {% csrf_token %}
                  <input type="text" name="title" value="{{ thread.title }}" class="edit-input" required>
                  <button type="submit" class="btn-update-title">Update Title</button>
                  <button type="button" onclick="hideEdit(this)" class="btn-cancel-edit">Cancel</button>
                </form>
                <!-- <a href="{% url 'groups:threads:delete_thread' group_id=group.id thread_id=thread.id %}" class="btn-delete-thread">Delete thread</a> -->
                <!-- <button type="button" onclick="sendRequest('{% url 'groups:threads:delete_thread' group_id=group.id thread_id=thread.id %}')" class="btn-delete-thread">Delete thread</button> -->
              </div>
            {% endif %}
            <div class="d-flex align-items-center">
              <a href="{% url 'groups:threads:detail' group_id=group.id thread_id=thread.id %}" class="list-group-item list-group-item-action flex-grow-1">{{ thread.title }}</a>
              
              {% if current_user.is_admin or current_user == group.owner or current_user in group.moderators.all %}
              <button type="button" onclick="sendRequest('{% url 'groups:threads:delete_thread' group_id=group.id thread_id=thread.id %}')" class="btn btn-sm btn-outline-danger ml-2">Delete thread</button>
              {% endif %}
            </div>
              
              {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
              Group has no threads.
            </div>
          {% endif %}
        {% endif %}
      </div>

      {%if is_user_admin%}
      <div class="container mt-5">
        <h2>Create thread</h2>
        <form
          method="post"
          action="{% url 'groups:threads:create' group_id=group.id %}"
        >
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Create
          </button>
        </form>
      </div>
      {% endif %}


      {% if not current_user == group.owner and current_user not in group.members.all and current_user %}
      <div class="container mt-5">
        <h2>Become a member of the group!</h2>
        <!-- <form method="post" action="{% url 'groups:add_member_request' group_id=group.id user_id=current_user.id %}">
          {% csrf_token %}
          <div class="form-group">
            {% if current_user not in group.requested_to_join.all%}
              <button type="submit" class="btn btn-primary btn-block">Send Request to join group</button>
            {% else %}
              <button type="submit" disabled class="btn btn-primary btn-block">Send Request to join group</button>
            {% endif %}
          </div>
        </form> -->
        <button
        {% if current_user not in group.requested_to_join.all%} {%else%} disabled {%endif%}
        type="button" onclick="sendRequest('{% url 'groups:add_member_request' group_id=group.id user_id=current_user.id %}')" class="btn btn-primary btn-block">Send Request to join group</button>
      </div>
      {% endif %}


      
      {% if current_user.is_admin or current_user == group.owner %}
      <div class="container mt-5">
        <h2>Moderator Requests</h2>
        {% if group.requested_for_moderator.all %}
          <ul class="list-group">
            {% for requester in group.requested_for_moderator.all %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'users:detail' user_id=requester.id %}">
                  {% if requester.profile_picture_url %}
                      <img src="{{ requester.profile_picture_url }}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% else %}
                      <img src="{% static 'img/anonymous.png' %}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                  {% endif %}
                  <span>{{ requester.username }}</span>
                </a>
                <div>
                  <!-- <a href="{% url 'groups:approve_moderator' group_id=group.id user_id=requester.id %}" class="btn btn-success btn-sm">Approve</a>
                  <a href="{% url 'groups:reject_moderator' group_id=group.id user_id=requester.id %}" class="btn btn-danger btn-sm">Reject</a> -->
                  <button type="button" onclick="sendRequest('{% url 'groups:approve_moderator' group_id=group.id user_id=requester.id %}')" class="btn btn-success btn-sm">Approve</button>
                  <button type="button" onclick="sendRequest('{% url 'groups:reject_moderator' group_id=group.id user_id=requester.id %}')" class="btn btn-danger btn-sm">Reject</button>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% else %}
      </div>
          <div class="alert alert-info" role="alert">No moderator requests.</div>
        {% endif %}
      {% endif %}
      
      <div class="container mt-5">
      <h2>List of Moderators</h2>
      <ul>
        {% for mod in group.moderators.all %}
            <li>
              <a href="{% url 'users:detail' user_id=mod.id %}">
                {% if mod.profile_picture_url %}
                      <img src="{{ mod.profile_picture_url }}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% else %}
                      <img src="{% static 'img/anonymous.png' %}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% endif %}
                <span>{{ mod.username }}</span>
              </a>

                {% if current_user.is_admin or current_user == group.owner %}
                  <!-- <a href="{% url 'groups:delete_moderator' group_id=group.id user_id=mod.id %}" class="btn btn-danger btn-sm">Remove</a> -->
                  <button type="button" onclick="sendRequest('{% url 'groups:delete_moderator' group_id=group.id user_id=mod.id %}')" class="btn btn-danger btn-sm">Remove</button>
                  {% endif %}
            </li>
        {% empty %}
            <li>No moderators found.</li>
        {% endfor %}
      </ul>
      </div>

      {% if current_user.is_admin or current_user == group.owner %}
      <div class="container mt-5">
        <h2>Memeber Requests</h2>
        {% if group.requested_to_join.all %}
          <ul class="list-group">
            {% for requester in group.requested_to_join.all %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'users:detail' user_id=requester.id %}">
                  {% if requester.profile_picture_url %}
                      <img src="{{ requester.profile_picture_url }}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% else %}
                      <img src="{% static 'img/anonymous.png' %}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% endif %}
                  <span>{{ requester.username }}</span>
                </a>
                <div>
                  <!-- <a href="{% url 'groups:approve_member' group_id=group.id user_id=requester.id %}" class="btn btn-success btn-sm">Approve</a>
                  <a href="{% url 'groups:reject_member' group_id=group.id user_id=requester.id %}" class="btn btn-danger btn-sm">Reject</a> -->
                  <button type="button" onclick="sendRequest('{% url 'groups:approve_member' group_id=group.id user_id=requester.id %}')" class="btn btn-success btn-sm">Approve</button>
                  <button type="button" onclick="sendRequest('{% url 'groups:reject_member' group_id=group.id user_id=requester.id %}')" class="btn btn-danger btn-sm">Reject</button>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% else %}
      </div>
          <div class="alert alert-info" role="alert">No requests to join.</div>
        {% endif %}
      {% endif %}


      
      <div class="container mt-5">
        <h2>List of Members</h2>
        {% if group.content_visibility > 1 and not current_user %}
          <div class="alert alert-info" role="alert">
            You don't have permission to view group members. Try to <a href="/login/">Sign in</a>
          </div>
        {% else %}
            <ul>
              {% for member in group.members.all %}
                  <li>
                    <a href="{% url 'users:detail' user_id=member.id %}">
                      {% if member.profile_picture_url %}
                      <img src="{{ member.profile_picture_url }}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% else %}
                      <img src="{% static 'img/anonymous.png' %}" class="img-fluid rounded-circle me-2" style="height: 30px; width: 30px;">
                      {% endif %}
                      <span>{{ member.username }}</span>
                    </a>
                      {% if current_user.is_admin or current_user == group.owner %}
                        {% if not member == group.owner %}
                          <!-- <a href="{% url 'groups:delete_member' group_id=group.id user_id=member.id %}" class="btn btn-danger btn-sm">Remove</a> -->
                          <button type="button" onclick="sendRequest('{% url 'groups:delete_member' group_id=group.id user_id=member.id %}')" class="btn btn-danger btn-sm">Remove</button>
                        {%else%}
                                <span class="badge bg-primary">Owner</span>
                          {% endif %}

                      {% endif %}
                  </li>
              {% empty %}
                  <li>No members found.</li>
              {% endfor %}
            </ul>
        {% endif %}
      </div>



    {% endif %}
  </div>
    
</div>

</div>


<script>
  function showEdit(element) {
  element.querySelector('.title-text').style.display = 'none';
  element.querySelector('.edit-form').style.display = 'block';
}

function hideEdit(element) {
  const editForm = element.closest('.edit-form');
  editForm.style.display = 'none';
  editForm.previousElementSibling.style.display = 'block';
}

function sendRequest(url) {
  // If response code is 200, reload the page, otherwise log error
  fetch(url, {
    method: 'POST',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    }
  }).then(response => {
    if (response.status === 200) {
      location.reload();
    } else {
      console.error(response);
    }
  });
}
</script>

<style>
  .thread-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
}

.btn-update-title,
.btn-cancel-edit {
  padding: 4px 8px;
  margin-left: 4px;
}

.btn-delete-thread {
  margin-left: auto;
  color: #ff0000;
  text-decoration: none;
}

.edit-form {
  display: none;
}
</style>

{% endblock %}