{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      {% if not group %}
      <div class="alert alert-danger" role="alert">Skupina neexistuje.</div>
      {% else %}
      <div class="card">
        <div class="card-header">
          <h3>{{ group.title }}</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                src="{{ group.image_url }}"
                class="img-fluid rounded-circle"
                alt="{{ group.title }}"
                style="max-width: 150px"
              />
            </div>
            <div class="col-md-8">
              <h4 class="mb-3">Bio:</h4>
              <p>{{ group.description }}</p>
            </div>
          </div>
          <!-- Edit button -->
          {% if current_user == group.owner %}
          <div class="row justify-content-center mt-3">
            <div class="col-md-6">
              <a
                href="{% url 'groups:edit' group_id=group.id %}"
                class="btn btn-primary btn-block"
                >Upravit skupinu</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {%if is_user_admin%}
      <div class="container mt-5">
        <h2>Vytvořit vlákno</h2>
        <form
          method="post"
          action="{% url 'groups:threads:create' group_id=group.id %}"
        >
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Název</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Vytvořit
          </button>
        </form>
      </div>
      {% endif %}
      <div class="container mt-5">
        <h2>Vlákna</h2>
        {% if threads %}
        <div class="list-group">
          {% for thread in threads %}
          <a
            href="{% url 'groups:threads:detail' group_id=group.id thread_id=thread.id %}"
            class="list-group-item list-group-item-action"
          >
            {{ thread.title }}
          </a>
          {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
          Skupina nemá žádné vlákno.
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
