{% extends "base.html" %}

{% block content %}

<!-- templates/users/list_users.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Groups</title>

</head>
<body>
    <h1>List of Groups</h1>
    <form method="GET" action="{% url 'groups:list_groups' %}">
        <input type="text" name="search" placeholder="Search groups..." value="{{ request.GET.search|default:'' }}" />
        <button type="submit">Search</button>
    </form>
    <div class="container mt-5">
        <h2>List of Groups</h2>
    
        <!-- Check if there are any groups -->
        {% if groups %}
            <table class="table">
                <!-- Table Header -->
                <thead>
                    <tr>
                        <th scope="col">Group Title</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
    
                <!-- Table Body -->
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>
                            <a href="{% url 'groups:detail' group_id=group.id %}" class="message-author">
                                {{ group.title }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'groups:edit' group_id=group.id %}" class="btn btn-secondary btn-sm">Edit</a>
                            <a href="{% url 'groups:delete_group' group_id=group.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No groups found.</p>
        {% endif %}
    </div>
   
</body>
</html>

{% endblock %}