{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <div class="row">

        <!-- Groups List on the left -->
        <div class="col-md-3">
            
        </div>

        <!-- Currently loaded group in the middle -->
        <div class="col-md-6">
            <h3>Skupiny</h3>
            <ul class="list-group">
                {% for group in groups %}

                {% if not current_user and group.content_visibility > 1 %}

                {% else %}
                <li class="list-group-item">
                    <a href="{% url 'groups:detail' group.id %}">
                        <img src="{{ group.image_url }}" class="img-fluid rounded-circle" alt="{{ group.title }}"
                            style="width: 50px; height: 50px;">
                        {{ group.title }}</a>
                </li>

                {% endif %}

                {% endfor %}
                {% if current_user %}
                <li class="list-group-item">
                    <a href="{% url 'groups:create' %}" class="btn btn-primary btn-block">Vytvořit skupinu</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- Empty space on the right (can be used for something else in the future) -->
        <div class="col-md-3"></div>

    </div>
</div>

{% endblock %}