{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <!-- error message if exists -->
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <h1 class="mb-4">Přihlášení</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Přezdívka:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Heslo:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 text-left">
                    <input type="submit" class="btn btn-primary" value="Přihlásit se">
                </div>
                <div class="col-sm-6 text-right">
                    <p>Ještě nemáš účet? <a href="/register/">Registruj se</a></p>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
