{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <!-- error message if exists -->
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        <h1 class="mb-4">Sign up</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username <span class="text-danger">*</span>:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password <span class="text-danger">*</span>:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm password <span class="text-danger">*</span>:</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 text-left">
                    <input type="submit" class="btn btn-primary" value="Sign up">
                </div>
                <div class="col-sm-6 text-right">
                    <p>Already have an account? <a href="/login/">Sign in</a></p>
                </div>
            </div>
            <!-- Disclaimer for the asterisk -->
            <div class="form-text text-muted">
                <small><span class="text-danger">*</span> Indicates a required field.</small>
            </div>
        </form>
    </div>
</div>

{% endblock %}